<div class="jumbotron jumbotron-fluid bg-dark rounded text-white">
  <div class="container">
    <% if user_signed_in?%>
      <h1 class="display-4">Welcome <%= "#{current_user.first_name} #{current_user.last_name}," %></h1>
      <p class="lead">Signed in as <%= current_user.type %></p>
    <% else %>
      <h1 class="display-4">Welcome to Bugzilla</h1>
      <p class="lead">The one stop shop for all your bug-tracking needs</p>
    <% end %>
  </div>
</div>
