<% if contributors.count > 0 %>
  <table class="table table-dark table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th class="col-md-1">Actions</th>
      </tr>
      <% contributors.each do |contributor| %>
        <tr>
          <td><%= "#{contributor.first_name} #{contributor.last_name}" %></td>
          <td><%= contributor.email %></td>
          <% if type == 'Developer' %>
            <td class="text-right"><%= link_to 'Remove', developer_manager_project_path(@project, contributor),
            method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
          <% elsif type == 'QualityAssurance' %>
            <td><%= link_to 'Remove', qa_manager_project_path(@project, contributor),
              method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
          <% end %>
        </tr>
      <% end %>
    </thead>
  </table>
<% elsif type == 'Developer' %>
  <h3>No Current Developers</h3>
<% elsif type == 'QualityAssurance' %>
  <h3>No Current Quality Assurers</h3>
<% end %>
