<h1>Editing Project</h1>

<%= render 'form', project: @project, url: manager_project_path(@project) %>

<%= link_to 'Show', manager_project_path(@project) %> |
<%= link_to 'Back', manager_projects_path %>
